{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "printWidth": 140,
  "trailingComma": "none",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "htmlWhitespaceSensitivity": "ignore",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["^@angular/(.*)$", "^[a-zA-Z].*", "^[./]"],
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "importOrderSeparation": true
}
