<div class="about-me">
  <h2 class="about-me__title">{{ strings.title }}</h2>

  <div class="about-me__reasons">
    @for (reason of strings.reasons; track reason; let i = $index) {
      <div class="about-me__reason">
        <div class="about-me__circle">
          {{ i + 1 }}
        </div>
        <span class="about-me__text">{{ reason }}</span>
      </div>
    }
  </div>

  <div class="d-flex mt-4 justify-content-center">
    <button mat-raised-button class="about-me__button" color="accent" (click)="goToContactForm()">
      {{ strings.contactButton }}
    </button>
  </div>
</div>
